name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Set up Gradle
      uses: gradle/gradle-build-action@v3
      with:
        gradle-version: wrapper

    - name: Grant execute permission for gradlew
      run: chmod +x HealthTracker/gradlew

    - name: Build with Gradle
      run: cd HealthTracker && ./gradlew build

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: HealthTracker/app/build/outputs/apk/debug/app-debug.apk
